<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    .custom-list-item {
        margin-right: 280px; /* Adjust the margin value as needed */
    }
    .custom-image{
        max-width: 100%;
    max-height: 200px; /* Adjust the maximum height as needed */
    object-fit: contain
    }
</style>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home'%}">Your E-commerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!-- Add your navbar links here -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'addproduct_page'%}">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'product_list' %}">product list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_home' %}">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'orders' %}">Order details </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link custom-list-item" href="#"></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link custom-list-item" href="#"></a>
                    </li>
                    
                    <li class="nav-item  ml-auto">
                        <a class="nav-link" href="{% url 'logout' %}">log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-5">
        <h2>Order List</h2>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Customer</th>
                    <th>Ordered At</th>
                    <th>Product</th>
                    <th>Total Amount</th>
                    <th>Order Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.order_number }}</td>
                        <td>{{ order.customer.cus_name }}</td>
                        <td>{{ order.created_at }}</td>
                        <td>{{ order.product_name }}</td>
                        <td>{{ order.total_amount }}</td>
                        <td>{{ order.order_status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    


    
</body>
</html>