<!--orde_details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>
    





    <div class="container mt-5">
        <h1>Order Details</h1>
        <p>Order ID: {{ order.id }}</p>
        <p>Order Date: {{ order.created_at }}</p>
        <table class="table table-striped mt-4">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {% for order_item in order_items %}
              <tr>
                <td>{{ order_item.product.prd_name }}</td>
                <td>{{ order_item.quantity }}</td>
                <td>{{ order_item.product.prd_price }}</td>
                <td>{{ order_item.product.prd_price|int * order_item.quantity|int }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>







</body>
</html>